.env

.idea
.vscode
.eclipse

.swc
*/.swc
**/.swc/**

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.map
**/*.d.ts

.DS_Store

*.tgz
*.zip

coverage
documentation

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

*.log

openapitools.json

certificate.crt
private.pem
public.pem